body{
background: #d2d2c1 url('../img/fundo.png');
font: 18px Arial, Helvetica, sans-serif;
margin: 10px 224.5px;
}
#principal{
    width: 900px;
}
#menu{
    background: #c5c5b2;
    padding: 13px 18px; 
    font-weight: 700;
}
#menu ul{
    padding: 0px;
}
#menu li{
    padding: 42px;
    display: inline;
}
#sobre{
    background: honeydew;
    padding: 28px;
}
#menu-campanha{
    margin-right: 95px;
    margin-left: 95px;
}
.campanha{
    border: 5px solid #c5c5b2;
}
footer{
    text-align: center;
    font-weight: 500;
}
a{
    color: rgb(70, 85, 68);
    text-decoration: none;
}

a:hover{
    color: gray;
}
h1{
   color: rgb(70, 85, 68);
   font-size: 1.2em;
}

